<div>
    <h2 id="page-heading">
        <span jhiTranslate="shopGiaLinhApp.accounts.home.title">Accounts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-accounts" [routerLink]="['/accounts/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="shopGiaLinhApp.accounts.home.createLabel">
            Create a new Accounts
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="accounts?.length === 0">
        <span jhiTranslate="shopGiaLinhApp.accounts.home.notFound">No accounts found</span>
    </div>
    <div class="table-responsive" *ngIf="accounts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="email"><span jhiTranslate="shopGiaLinhApp.accounts.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="password"><span jhiTranslate="shopGiaLinhApp.accounts.password">Password</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="fullName"><span jhiTranslate="shopGiaLinhApp.accounts.fullName">Full Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="phone"><span jhiTranslate="shopGiaLinhApp.accounts.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="avatar"><span jhiTranslate="shopGiaLinhApp.accounts.avatar">Avatar</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="gender"><span jhiTranslate="shopGiaLinhApp.accounts.gender">Gender</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="address"><span jhiTranslate="shopGiaLinhApp.accounts.address">Address</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="introduction"><span jhiTranslate="shopGiaLinhApp.accounts.introduction">Introduction</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="shopGiaLinhApp.accounts.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="shopGiaLinhApp.accounts.updatedAt">Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deletedAt"><span jhiTranslate="shopGiaLinhApp.accounts.deletedAt">Deleted At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="shopGiaLinhApp.accounts.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let accounts of accounts ;trackBy: trackId">
                <td><a [routerLink]="['/accounts', accounts.id, 'view' ]">{{accounts.id}}</a></td>
                <td>{{accounts.email}}</td>
                <td>{{accounts.password}}</td>
                <td>{{accounts.fullName}}</td>
                <td>{{accounts.phone}}</td>
                <td>{{accounts.avatar}}</td>
                <td>{{accounts.gender}}</td>
                <td>{{accounts.address}}</td>
                <td>{{accounts.introduction}}</td>
                <td>{{accounts.createdAt | date:'medium'}}</td>
                <td>{{accounts.updatedAt | date:'medium'}}</td>
                <td>{{accounts.deletedAt | date:'medium'}}</td>
                <td>{{accounts.status}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/accounts', accounts.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/accounts', accounts.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/accounts', { outlets: { popup: accounts.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="accounts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
