<div>
    <h2 id="page-heading">
        <span jhiTranslate="shopGiaLinhApp.orders.home.title">Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-orders" [routerLink]="['/orders/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="shopGiaLinhApp.orders.home.createLabel">
            Create a new Orders
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="orders?.length === 0">
        <span jhiTranslate="shopGiaLinhApp.orders.home.notFound">No orders found</span>
    </div>
    <div class="table-responsive" *ngIf="orders?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="totalPrice"><span jhiTranslate="shopGiaLinhApp.orders.totalPrice">Total Price</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="note"><span jhiTranslate="shopGiaLinhApp.orders.note">Note</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="shopGiaLinhApp.orders.createdAt">Created At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="updatedAt"><span jhiTranslate="shopGiaLinhApp.orders.updatedAt">Updated At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="deletedAt"><span jhiTranslate="shopGiaLinhApp.orders.deletedAt">Deleted At</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="status"><span jhiTranslate="shopGiaLinhApp.orders.status">Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="customerId"><span jhiTranslate="shopGiaLinhApp.orders.customer">Customer</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let orders of orders ;trackBy: trackId">
                <td><a [routerLink]="['/orders', orders.id, 'view' ]">{{orders.id}}</a></td>
                <td>{{orders.totalPrice}}</td>
                <td>{{orders.note}}</td>
                <td>{{orders.createdAt | date:'medium'}}</td>
                <td>{{orders.updatedAt | date:'medium'}}</td>
                <td>{{orders.deletedAt | date:'medium'}}</td>
                <td>{{orders.status}}</td>
                <td>
                    <div *ngIf="orders.customerId">
                        <a [routerLink]="['/customer', orders.customerId , 'view' ]" >{{orders.customerId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/orders', orders.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/orders', orders.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/orders', { outlets: { popup: orders.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="orders?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
