<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="collection">
            <h2><span jhiTranslate="shopGiaLinhApp.collection.detail.title">Collection</span> {{collection.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="shopGiaLinhApp.collection.name">Name</span></dt>
                <dd>
                    <span>{{collection.name}}</span>
                </dd>
                <dt><span jhiTranslate="shopGiaLinhApp.collection.description">Description</span></dt>
                <dd>
                    <span>{{collection.description}}</span>
                </dd>
                <dt><span jhiTranslate="shopGiaLinhApp.collection.images">Images</span></dt>
                <dd>
                    <span>{{collection.images}}</span>
                </dd>
                <dt><span jhiTranslate="shopGiaLinhApp.collection.createdAt">Created At</span></dt>
                <dd>
                    <span>{{collection.createdAt}}</span>
                </dd>
                <dt><span jhiTranslate="shopGiaLinhApp.collection.updatedAt">Updated At</span></dt>
                <dd>
                    <span>{{collection.updatedAt}}</span>
                </dd>
                <dt><span jhiTranslate="shopGiaLinhApp.collection.deletedAt">Deleted At</span></dt>
                <dd>
                    <span>{{collection.deletedAt}}</span>
                </dd>
                <dt><span jhiTranslate="shopGiaLinhApp.collection.status">Status</span></dt>
                <dd>
                    <span>{{collection.status}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/collection', collection.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
